p{
    font-family: Helvetica;
    font-size:16px;

}
label{
    margin: 10px auto;
    padding: 16px;

    font-family:Helvetica;
}
#input1 {
    margin: 15px auto;
    padding: 16px;
    border-radius:5px;
    border: 2px solid #808080;
    width: 100px;
    height: 10px;
}


.button {
    margin: 40px auto;
    padding: 16px;
    background-color:#ffffff;
    border-radius:13px;
    border:2px solid #c2c2c2;
    display:inline-block;
    cursor:pointer;
    color:#807b80;
    font-family:Trebuchet MS;
    font-size:17px;
    text-decoration:none;
}
.button:hover {
    background-color:#d3d3d3;
}
.button:active {
    position:relative;
    top:1px;
}

.dropdown{
    border-radius:5px;
    border: 2px solid #808080;
    height: 35px;
    width: 40px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.detail{
    font-style:italic;
    font-size:75%;
    color:#ff0000;
}