p {
    font-family: Helvetica;
    font-size: 16px;

}

label {

    font-family: Helvetica;
}

#input1 {
    margin: 15px auto;
    padding: 16px;
    border-radius: 5px;
    border: 2px solid #808080;
    width: 15px;
    height: 10px;
}

#input2 {
    margin: 15px auto;
    padding: 16px;
    border-radius: 5px;
    border: 2px solid #808080;
    width: 30px;
    height: 5px;
    text-decoration: none;
}

.button {
    margin: 15px auto;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 13px;
    border: 2px solid #c2c2c2;
    display: inline-block;
    cursor: pointer;
    color: #807b80;
    font-family: Trebuchet MS;
    font-size: 17px;
    text-decoration: none;
}

.button:hover {
    background-color: #d3d3d3;
}

.button:active {
    position: relative;
    top: 1px;
}

.dropdown {
    border-radius: 5px;
    border: 2px solid #808080;
    height: 35px;
    width: 40px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.detail {
    font-style: italic;
    font-size: 75%;
    color: #ff0000;
}

footer {
    position: absolute;
    bottom: 0px;
    float: right;
    height: 35px;
    margin: 50px 0px 0px 0px;
    color: #000;
    text-align: right;
    padding: 10px 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    float: left;
    text-align: center;
    padding: 30px 0px 0px 530px;

}

li a {
    position: relative;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: #bbab9b;
}

#answer {
    text-align: center;
    background-color: #e0e2e4;
    padding: 16px;
    border-radius: 5px;
    border: 2px solid #808080;
    width: 300px;
    height: 10px;
}

.container {
    padding: 30px 0px 0px 600px;
    margin: 0 auto;

}

.container .error {
    list-style-type: none;
    color: #a94442; /* reddish */
    text-align: left;
    margin: 15px auto;
    padding: 48px;
    font-size: 1.2rem;
    font-size: 12px;
    font-style: italic;
}
