    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;
    }

    li {
        float: left;
        text-align: center;
        padding: 30px 0px 0px 530px;

    }

    li a {
        position: relative;
        color: gray;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
    }

    li a:hover {
        background-color: #bbab9b;
    }

    footer {
        position: absolute;
        bottom: 0px;
        float: right;
        height: 35px;
        margin: 50px 0px 0px 0px;
        color: #000;
        text-align: right;
        padding: 10px 30px;
    }